# Copy to terraform.tfvars and fill in real values. Do not commit terraform.tfvars.

vcfa_url            = "vcfa.example.com"
vcfa_insecure        = false
vcfa_refresh_token   = "CHANGE-ME"
tenant_org           = "tf-example-org"

tenant_namespace     = "prod01-8sg7f"
region_name          = "m01-reg01"
tenant_vpc_name      = "prod01-vpc01"
security_profile_name = "default-security-profile"
monitoring_namespace = "monitoring01-8sg7f"
